@import "tailwindcss";

:root {
  --primary: #FEDE6F;
  --secondary: #7EBF27;
  --accent: #206D6E;
  --background: #FFFEFB;
  --foreground: #606060;
  --Primary-dark-green: #138082;
  --Primary-yellow: #FEDE6F;
  --Background-light-yellow: #FFFEFB;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-dark-green: var(--Primary-dark-green);
  --color-primary-yellow: var(--Primary-yellow);
  --color-background-light-yellow: var(--Background-light-yellow);
  --font-inter-sans: var(--font-inter-sans);
  --font-nunito: var(--font-nunito);
  --font-roboto: var(--font-roboto);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-sans);
}